[submodule "glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "openal-soft"]
	path = third_party/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "deps-zlib-libpng"]
	path = third_party/deps-zlib-libpng
	url = https://github.com/awstanley/deps-zlib-libpng.git
